*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin: 3rem;
    min-height: 50vh;
}
.container{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     padding: 2rem;
     width: 40%;
}
.tittle{
    text-align: left;
    font-size: 1rem;
    margin-bottom: .6rem;
}
.inputs{
    flex-direction: column;
    margin-bottom: 0.6rem;
}
input{
    padding: .8rem;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}
.btn-login{
     padding: .6rem;
     border-radius: .5rem;
     border: none;
     background-color: orange;
     font-size: 20px;
     cursor: pointer;
}
a{
    color: orange;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
@media (min-hight: 600px) {
    .btn-login{
        flex-wrap: wrap;
    }
    .container{
        margin: 1rem;
    }
}